*{
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
}

body{
    background:linear-gradient( to bottom, #FFF3E4, #D9F9FF) no-repeat;
}

.welcome-title{
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.welcome-title h1 {
    font-family: Satoshi-Bold;
    font-size: 60px;
}